<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpustímTo</title>

    <link rel="stylesheet" href="/index/error.css" />
    <script src="/index/error.js"></script>
</head>
<body>
    <h1>Chyba</h1>
    <p>URL není správně zadaná, nebo ji ještě nikdo neimplementoval.</p>
</body>
</html>
